.cardContainer{
    margin:auto;
    border: 1px black;
    border-style: dotted;
    padding: 5px ;
    height: 300px;
    width: 300px;
}

.details *{
    margin:auto;
    border: 1px black;
    border-style: dashed;
    padding: 3px ;
}

.picture {
    height: 50px;
    width: 50px; 
} 