.stackSelectCardTable {
    margin:auto;
    border: 1px black;
    border-style: solid;
    padding: 5px ;
    color:blueviolet
    
}

.stackSelectCardTable *{
    margin:auto;
    border: 1px black;
    border-style:dashed;
    padding: 3px ;
}

.selectedCardPicture {
    height: 100px;
    width: 100px; 
} 