.stackSelectCardTable {
    margin: 10px;
    border: 1px black;
    border-style: solid;
    padding: 5px ;
}

.stackSelectCardTable *{
    margin:auto;
    border: 1px black;
    border-style: dotted;
    padding: 3px ;
}

.selectedCardPicture {
    height: 100px;
    width: 100px; 
} 