.userDetails{
    margin:20px;
    border: 1px black;
    border-style: dotted;
    padding: 5px ;
    width: 500px;  
   text-align: left;
    
}
.userStack{
    margin:20px;
    border: 1px black;
    border-style: dotted;
    padding: 5px ;
    width: 500px;  
   text-align: left;
    
}